* text=auto
*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
books/*/md/*.md -text whitespace=-blank-at-eol,-blank-at-eof
*.xhtml text eol=lf
*.xml text eol=lf
*.opf text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.ps1 text eol=lf
*.css text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.tpl text eol=lf
**/mimetype -text
